.header {
  background-color: rgb(28, 32, 82);
  color: white;
  padding: 60px;
  text-align: center;
  font-size: 30px;
}

.spacer {
  display: block;
  height: 80px;
}

.title {
  color: #222;
  font-weight: 700;
  font-size: 32px;
}

.center {
  text-align: center;
}
