.header {
  background-color: rgb(28, 32, 82);
  color: white;
  padding: 60px;
  text-align: center;
  font-size: 30px;
}

.spacer {
  display: block;
  height: 80px;
}

.title {
  color: #222;
  font-weight: 700;
  font-size: 32px;
}

.center {
  text-align: center;
}

.video {
  padding: 30px 0;
  width: 840px;
  height: 380px;
  margin: 0 calc(50% - (840px / 2));
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 0;
}

section.about-pre-mest {
  padding: 60px 440px;
}

.blue {
  background-color: rgb(142, 238, 255);
}

.long-text {
  text-align: justify;
}

table {
  border-collapse: collapse;
}

table th {
  background-color: #222;
  color: white;
  padding: 10px;
  letter-spacing: 1px;
  text-align: left;
}

table td {
  padding: 10px;
}

.cta-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  display: inline-block;
  background: rgb(28, 32, 82);
  color: #fff;
  text-decoration: none;
  font-weight: bolder;
  padding: 20px 0;
  width: 240px;
  border-radius: 100px;
}

.footer {
  background-color: rgb(28, 32, 82);
  color: white;
  padding: 60px;
  text-align: center;
}

.footer a {
  color: rgb(66, 227, 255);
}